# personal C++ language snippets
# sorted alphabetically

extends c

snippet endl "end of line completion"
<< "\n";
endsnippet

snippet scast "static cast w/ visual"
static_cast<$1>(${2:${VISUAL}})$0
endsnippet
